.contactName {
  font-size: 20px;
  color: #b39c41;
}

.contactAddress {
  font-size: 16px;
}

.contactContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.contactInfo {
  display: block;
  margin: 20px;
  text-align: center;
  align-content: center;
}

.contactImg2 {
  width: 50%;
}

.contactImg2Div {
  width: 48%;
}

.contactHead {
  color: #b39c41;
  font-size: 26px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nameInput, .mailInput, .messageInput {
  width: 20%;
  margin: 5px;
  height: 30px;
}

.messageInput {
  height: 100px;
}

.contactImgDiv {
  width: 100%;
}

.contactImg {
  width: 50%;
}

.contactButton {
  background-color: black;
  color:#b39c41;
  border: 1px solid #b39c41;
  margin: 5px;
}

.contactButton:hover {
  background-color: #b39c41;
  color: black;
  border: #b39c41;
  text-decoration: underline;
}