.header-container {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.bg-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: -200px;
}

.text-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-container h1 {
  margin-top: 200px;
}

//Styling for the section

.about-us {
  margin-top: 300px;
  margin-bottom: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.about-us-text {
  width: 60%;
}

.about-us-img {
  width: 40%;
  height: auto;
}
.about-us-img img {
  width: 90%;
}

.border {
  width: 50%;
  height: 1px;
  background-color: #b39c41;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .about-us-img {
    width: 60%;
  }
}
