.menu-section {
    border: solid whitesmoke;
    color: #fffff0;
    display: flex;

}

.price {
    text-align: right;
  border: solid white;

}

.foodName {
    text-align: left;
    text-decoration: double underline;
   border: solid white;

}

.menu {
  border: solid white;
}
