form {
  border: 2px solid wheat;
  
  
}

.inputs {

    border: 2px solid blue;
    font-size: 1.2rem;
    color: #b39c41;
}


#btn {
    
    margin-top: 20px;
    color: #b39c41;
    border: 5px #b39c41; //blir ju för fan ingen border
    background-color: #040404;
   
}