.bookings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  border-left: 1px solid ivory;
  border-right: 1px solid ivory;
  border-bottom: 1px solid ivory;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid ivory;
  padding: 16px;
}
