.bookings-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: -200px;
  border-left: 1px solid ivory;
  border-right: 1px solid ivory;
  border-bottom: 1px solid ivory;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid ivory;
  padding: 16px;
  color: ivory;
}

.delete-btn {
  background-color: #040404d1;
  color: #b39c41;
  border: 1px solid #b39c41;
  margin: 8px;
}

.update-btn {
  background-color: #040404d1;
  color: #b39c41;
  border: 1px solid #b39c41;
  margin: 8px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #b39c41;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .bookings-table {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .bookings-table th {
    display: none;
  }

  .bookings-table td {
    padding: 12px;
    border-top: none;
  }

  .bookings-table tr {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-bottom: none;
  }

  .bookings-table tr td:first-child {
    border-top: 1px solid ivory;
  }

  .bookings-table tr > * {
    flex: 1 0 50%;
  }
}
