.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #242424;
    height: 200px;
    justify-content: space-evenly;
}

.icon {
    width: 50px;
}

.iconContainer {
    width: 25%;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
}

.openingHours {
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.openingHoursText {
    color: #b39c41;
    font-size: 18px;
    margin: 5px;
}

.copyright {
    width: 25%;
    align-self: center;
    color:#b39c41;
}