.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #242424;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.icon {
    width: 50px;
    margin: 5px;
}

.openingHours {
    display: flex;
    flex-direction: column;
}

.openingHoursText {
    color: #b39c41;
    font-size: 18px;
    margin: 5px;
}

.copyrightText {
    color:#b39c41;
}