@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.header-container {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.bg-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: -200px;
}

.text-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-container h1 {
  margin-top: 250px;
  color: ivory;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.about-us {
  margin-top: 300px;
  margin-bottom: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-us-text {
  width: 60%;
}
.about-us-text h2 {
  color: ivory;
  font-family: "Playfair Display", serif;
}

.about-us-img {
  width: 40%;
  height: auto;
}
.about-us-img img {
  width: 90%;
}

.border {
  width: 50%;
  height: 1px;
  background-color: #b39c41;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.menu-btn {
  background-color: #040404cb;
  color: #b39c41;
  border: 1px solid #b39c41;
  margin: 8px;
}

.menu.btn:hover {
  background-color: #b39c41;
  color: black;
  border: #b39c41;
  text-decoration: underline;
}

.booking-btn {
  background-color: #040404cb;
  color: #b39c41;
  border: 1px solid #b39c41;
  margin: 8px;
}

.booking-btn:hover {
  background-color: #b39c41;
  color: black;
  border: #b39c41;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .about-us-img {
    width: 60%;
  }
}
