.searchForm {
  min-height: 70vh;
}

.bookingForm {
  min-height: 70vh;
}

.inputs {
  font-size: 1.3rem;
  color: #b39c41;
  background-color: #242424;

  min-height: 100px;
  padding: 40px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#btn {
  font-size: 1.2rem;
  margin-top: 40px;
}

#bookingText {
  margin-top: 50px;
  font-size: 2rem;
}

#personQuantity {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 20px;
  background-color: ivory;
}

#chooseDate {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 20px;
  background-color: ivory;
}
#chooseTime {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 20px;
  background-color: ivory;
}
