.searchForm {
  min-height: 70vh;
  
}

.bookingForm{
  min-height: 70vh;
}

.inputs {

    font-size: 1.2rem;
    color: #b39c41;
    border: 1px solid red;
}


#btn {
    
    margin-top: 20px;
    color: #b39c41;
    border: 1px solid #b39c41;
    background-color: #040404;
   
}

#bookingText {
  margin-top: 50px;
}