form {
  /* border: 2px solid wheat; */
  
  
}

.inputs {

    font-size: 1.2rem;
    color: #b39c41;
}


#btn {
    
    margin-top: 20px;
    color: #b39c41;
    border: 5px #b39c41;
    background-color: #040404;
   
}